* {
  box-sizing: border-box;
}

.app {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px 0;
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
}

.app-title {
  text-align: center;
  font-size: 22px;
  margin: 30px 0;
}

.app-form {
  width: 100%;
}

.app-form > input {
  width: 100%;
  margin: 10px 0;
  text-align: center;
  font-size: 22px;
  padding: 10px 0;
}

.btn-submit {
  cursor: pointer;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-submit:hover, .btn-submit:active {
  background-color: #0062cc;
  border-color: #005cbf;
}

.btn-submit:disabled:hover, .btn-submit:disabled {
  background-color: #fafafa;
  border-color: #fafafa;
  color: #dadada;
  cursor: not-allowed;
}